<connectionStrings>
  <clear/>
  <!--<add name="EPiServerDB" connectionString="Data Source=SURESH-AYOND;Initial Catalog=dbEMUpdate;Integrated Security=False;User ID=ay;Password=ay;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EPiServerDB" connectionString="Data Source=ly4dg0d5s9.database.windows.net,1433;Initial Catalog=emupdate_db;Integrated Security=False;User ID=ayonddev@ly4dg0d5s9;Password=Ayond2012!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>