<connectionStrings>
  <clear/>
  <!--<add name="EPiServerDB" connectionString="Data Source=SURESH-AYOND;Initial Catalog=dbEMUpdate;Integrated Security=False;User ID=ay;Password=ay;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EPiServerDB" connectionString="Server=;Database=emupdate_db;User ID=ayonddev@ly4dg0d5s9;Password=Ayond2012!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
</connectionStrings>