<connectionStrings>
  <clear/>
  <add name="EPiServerDB" connectionString="Data Source=tcp:ly4dg0d5s9.database.windows.net,1433;Initial Catalog=emupdate_db;Integrated Security=False;User ID=ayonddev@ly4dg0d5s9;Password=Ayond2012!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!--<add name="EPiServerDB" connectionString="Server=;Database=;User ID=;Password=;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>-->
</connectionStrings>